body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', Courier, monospace,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(0, 8, 255), rgb(255, 0, 51));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}

button{
  cursor:pointer;
}
